[Unit]
Description=Mount fileserver via sshfs for %I
After=network.target

[Service]
User=%i
ExecStart=/home/eivind/dot/bin/k_sshfs eivind-server:/media/filserver/felles 192.168.0.1 ketorad.com /mnt/fileserver/public
ExecStop=/home/eivind/dot/bin/k_sshfs stop /mnt/fileserver/public

[Install]
WantedBy=multi-user.target
