[Unit]
Description=Mount fileserver via sshfs for %I
After=network.target

[Service]
User=%i
ExecStart=k_sshfs-fileserver start
ExecStop=k_sshfs-fileserver stop
Restart=always

[Install]
WantedBy=multi-user.target
