[Unit]
Description=Mount fileserver via sshfs for %I
After=network.target

[Service]
User=%i
ExecStart=/usr/local/bin/k_sshfs-fileserver start
ExecStop=/usr/local/bin/k_sshfs-fileserver stop
Restart=always

[Install]
WantedBy=multi-user.target
